<footer>
  <ul>
  <i class="fa-regular fa-copyright fa-2xs" style="color: #0f0f10;"></i>
    <li><%= "2023 Sand Spot" %></li>
    <i class="fa-solid fa-circle"></i>
    <li><%= link_to "Terms", beaches_path %></li>
     <i class="fa-solid fa-circle"></i>
    <li><%= link_to "Sitemap", beaches_path %></li>
     <i class="fa-solid fa-circle"></i>
    <li><%= link_to "Privacy", beaches_path %></li>
     <i class="fa-solid fa-circle"></i>
    <li><%= link_to "Your Privacy Choices", beaches_path %></li>
     <i class="fa-solid fa-circle"></i>
    <li><%= link_to "Destinations", beaches_path %></li>
  </ul>
</footer>
