<div class="navbar navbar-expand-sm navbar-light navbar-sandspot sticky-top">
  <div class="container-fluid custom-container">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-umbrella-beach "></i> SandSpot</a>

    <%= form_with url: beaches_path, method: :get, class: "simple_form search" do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control string required",
              placeholder: "Where do you want to go?"
        %>
        <%= button_tag type: 'submit', name: '', class: 'btn btn-flat' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>

    <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000" />
    <div class="dropdown-menu dropdown-menu-end dropdown" aria-labelledby="navbarDropdown">
      <%= link_to "Login", user_session_path, class: "dropdown-item" %>
      <%= link_to "Signup", new_user_session_path, class: "dropdown-item" %>
      <%= link_to "My bookings", profile_path, class: "dropdown-item" %>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  </div>
</div>
