<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>


  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner d-flex flex-column" style="background-image: url(https://images.pexels.com/photos/130879/pexels-photo-130879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
        <h1 class="title">Dunes & Dreams: Crafting <br> Memories by the Seashore</h1>
        <%= link_to "Book Now", beaches_path, class: "button" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner d-flex flex-column" style="background-image: url(https://i.insider.com/56981adbc08a8034008b9bf5?width=1136&format=jpeg);">
        <h1 class="title">Serene Sands <br> Your Personal Oasis </h1>
        <%= link_to "Book Now", beaches_path, class: "button" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner d-flex flex-column" style="background-image: url(https://www.beaches.com/blog/content/images/2019/11/Beaches-Negril-Jamaica-Seven-Mile-Beach-Family2.jpg);">
        <h1 class="title">Lifetime of Laughter <br> Every Footprint tells a Family Tale </h1>
        <%= link_to "Book Now", beaches_path, class: "button" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner d-flex flex-column" style="background-image: url(https://www.viajali.com.br/wp-content/uploads/2018/09/praias-em-portugal-0.jpg);">
        <h1 class="title">  Panoramic Paradise <br> You can Own the View </h1>
        <%= link_to "Book Now", beaches_path, class: "button" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner d-flex flex-column" style="background-image: url(https://vidacigana.com/wp-content/uploads/2021/03/melhores-praias-lisboa-23.jpg);">
        <h1 class="title"> Nature's Finest <br> More Than Just Sand </h1>
        <%= link_to "Book Now", beaches_path, class: "button" %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
