<div class="container">
  <div class="row d-flex flex-row mt-5 mb-5 justify-content-between gap-5">
    <div class="col">
      <h3 class="mb-4">My Profile</h3>
      <div class="d-flex flex-row justify-content-between border-bottom mb-3">
        <div>
          <p>Full Name</p>
          <p class="text-secondary"><%= @user.name.capitalize %></p>
        </div>
        <div>
          <a href="#" class="text-secondary">Edit</a>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between border-bottom mb-3">
        <div>
          <p>Email</p>
          <p class="text-secondary"><%= @user.email %></p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between border-bottom mb-3">
        <div>
          <p>Password</p>
          <p class="text-secondary">*********</p>
        </div>
      </div>
    </div>
    <div class="col">
      <h3 class="mb-4">My Bookings</h3>
      <div class="d-flex flex-column gap-3">
      <% @user_bookings.each do |user_booking| %>
          <div class="d-flex justify-content-between">
            <h6><%= user_booking[:beach].name %></h6>
            <p class="text-secondary"><%= user_booking[:booking].date %></p>
            <p class="text-secondary"><%= user_booking[:booking].status %></p>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
