<div class="filter p-3">
  <div class="globe-icons text-center">
    <%= link_to beaches_path(query: "africa") do %>
      <i class="fa-solid fa-earth-africa"></i>
      <p>Africa</p>
    <% end %>
    <%= link_to beaches_path(query: "america") do %>
      <i class="fa-solid fa-earth-americas"></i>
      <p>America</p>
    <% end %>
    <%= link_to beaches_path(query: "asia") do %>
      <i class="fa-solid fa-earth-asia"></i>
      <p>Asia</p>
    <% end %>
    <%= link_to beaches_path(query: "europe") do %>
      <i class="fa-solid fa-earth-europe"></i>
      <p>Europe</p>
    <% end %>
    <%= link_to beaches_path(query: "oceania") do %>
      <i class="fa-solid fa-earth-oceania"></i>
      <p>Oceania</p>
    <% end %>
  </div>
</div>
