<div class = "mt-5 mb-5 border shadow rounded-4 bg-white p-3">
  <ul class="nav nav-tabs packs-card" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Basic</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Standard</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Premium</button>
    </li>
  </ul>
  <div class="tab-content packs-card" id="myTabContent">
    <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3 class = "text-center"><strong><%= @beach.packs[0].price %></strong>€ day</h3>
      <h5>Description</h4>
      <ul>
       <% @beach.packs[0].description.split("-").each do |bullet| %>
        <li><%= bullet %></li>
        <% end %>
      </ul>

      <%= simple_form_for [@beach.packs[0],@booking] do |f| %>
       <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
       <%= f.submit "Book Now", class: "button-packs" %>
      <% end %>
    </div>

    <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h3 class = "text-center"><strong><%= @beach.packs[1].price %></strong>€ day</h3>
      <h5>Description</h4>
      <ul>
        <% @beach.packs[1].description.split("-").each do |bullet| %>
        <li><%= bullet %></li>
        <% end %>
      </ul>

      <%= simple_form_for [@beach.packs[1],@booking] do |f| %>
       <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
       <%= f.submit "Book Now", class: "button-packs" %>
      <% end %>
    </div>


    <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <h3 class = "text-center"><strong><%= @beach.packs[2].price %></strong>€ day</h3>
      <h5>Description</h4>
      <ul>
        <% @beach.packs[2].description.split("-").each do |bullet| %>
        <li><%= bullet %></li>
        <% end %>
      </ul>
      <%= simple_form_for [@beach.packs[2],@booking] do |f| %>
       <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
       <%= f.submit "Book Now", class: "button-packs" %>
      <% end %>
    </div>
  </div>
</div>
